USE [master]
GO
/****** Object:  Database [QuanLyCuaHangDienThoai]    Script Date: 8/20/2021 3:27:25 PM ******/
CREATE DATABASE [QuanLyCuaHangDienThoai]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHangDienThoai', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\QuanLyCuaHangDienThoai.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCuaHangDienThoai_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\QuanLyCuaHangDienThoai_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHangDienThoai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHangDienThoai]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 8/20/2021 3:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[ID_HOADON] [int] NOT NULL,
	[ID_SANPHAM] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[TONGGIA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG_DIEN_THOAI]    Script Date: 8/20/2021 3:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_DIEN_THOAI](
	[ID_HANGDIENTHOAI] [int] NOT NULL,
	[TENHANGDIENTHOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGANH_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_HANGDIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 8/20/2021 3:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[ID_HOADON] [int] NOT NULL,
	[ID_KHACHHANG] [int] NOT NULL,
	[ID_NHANVIEN] [int] NOT NULL,
	[TONGTIEN] [int] NULL,
	[NGAYLAP] [date] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[ID_HOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 8/20/2021 3:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID_KHACHHANG] [int] NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[GIOITINH] [nvarchar](4) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_KHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 8/20/2021 3:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ID_NHANVIEN] [int] NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](15) NULL,
	[GIOITINH] [nvarchar](4) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[ID_NHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 8/20/2021 3:27:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[ID_SANPHAM] [int] NOT NULL,
	[ID_HANGDIENTHOAI] [int] NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MOTA] [nvarchar](256) NULL,
	[GIATHANH] [int] NOT NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[ID_SANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHUA_SAN_PHAM] FOREIGN KEY([ID_SANPHAM])
REFERENCES [dbo].[SAN_PHAM] ([ID_SANPHAM])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_CHUA_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CUA_HOA_DON] FOREIGN KEY([ID_HOADON])
REFERENCES [dbo].[HOA_DON] ([ID_HOADON])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_CUA_HOA_DON]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_CO_KHACH_HA] FOREIGN KEY([ID_KHACHHANG])
REFERENCES [dbo].[KHACH_HANG] ([ID_KHACHHANG])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_CO_KHACH_HA]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_THUOC1_NHAN_VIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHAN_VIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_THUOC1_NHAN_VIEN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_THUOC_VE_NGANH_HANG] FOREIGN KEY([ID_HANGDIENTHOAI])
REFERENCES [dbo].[HANG_DIEN_THOAI] ([ID_HANGDIENTHOAI])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_THUOC_VE_NGANH_HANG]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [C_GIOITINH_KHACH_HANG] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]='Nam'))
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [C_GIOITINH_KHACH_HANG]
GO
USE [master]
GO
